@font-face {
  font-family: 'FontsFree-Net-Nebula';
  src: local('FontsFree-Net-Nebula'), url(./fonts/FontsFree-Net-Nebula.ttf) format('truetype');
}
@font-face {
  font-family: 'BiomeW01Regular';
  src: local('BiomeW01Regular'), url(./fonts/BiomeW01Regular.ttf) format('truetype');
}
body{
  background-color: black;
  padding:0px;
  margin: 0px;
}

h1{
  font-family: FontsFree-Net-Nebula;
  font-size: 75px;
  color:white; 
}
.form{
  align-content: center;
}
.projects{
  margin-top:60px;
}
.form-search{
  padding: 9px;
  font-size: 21px;
  color: #E8EEFF;
  font-family: BiomeW01Regular;
  
  width: 50%;
  background-color: #181818;
  line-height: 0px;
  border: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.icon{
  padding: 9px 3px 12px 18px;
  background-color: #181818;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.App {  
  padding:20px;
  text-align: center;
}
.btn-primary, .btn-primary.dropdown-toggle:hover, .btn-sm:hover, .btn-primary:focus{
  background-color: #00CCB9;
  color: #0A0A0A;
  padding: 7px 10px;
  font-size: 18px;
  border-color:transparent;
  border-radius: 0px;
}
.dropdown-item:hover{  
  color:#E8EEFF;
  border-color:transparent;
  background-color: transparent;
}
.dropdown-menu, .dropdown-item{
  background-color: #0A0A0A;
  color:#E8EEFF;
  font-size: 10px;
}
.show>.btn-primary.dropdown-toggle{
  box-shadow: transparent;
  color: #0A0A0A;
}
input:focus, .btn-primary.dropdown-toggle:focus{
  outline: none;
  color: #0A0A0A;
  box-shadow: 0 0 0 0 rgb(0 123 255 / 0%);
}
.navbar a{
  font-family: FontsFree-Net-Nebula;
  font-size: 24px;
  padding-left: 50px;
  color: #E8EEFF; 
  text-decoration: none; 
  text-align: right; 
}



/*

.btn{
  background-color: #00CCB9;
  padding: .25rem .5rem;
  font-size: 20px;  
  border-radius: 0px;
}*/